<!DOCTYPE html>
<html>
    <head>
        <title>chem</title>
    </head>

    <body>
        <h1>{{ question_id }}</h1>
        {% if question %}
            {% if choices %}
            <ul>
                {% for choice in choices %}
                <li><a href="https://github.com/JessJKitty">{{ choice.choice_text }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No choices currently in question.</strong>
            {% endif %}
        {% else %}
            The specified category {{ question_id }} does not exist!
        {% endif %}
    </body>
</html>